.quoteList {
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.quote {
    border: 1px dotted darkgoldenrod;
    flex-basis: 20%;
    padding: 0.75rem;
}

.header--quotes {
    margin: 0;
    padding: 0;
    background-color: lightyellow;
}